*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:black;
  color:white;
  padding:20px;
}

.container{
  max-width:900px;
  margin:auto;
}

h1{
  font-size:28px;
  margin-bottom:5px;
}

.sub{
  opacity:0.8;
  margin-bottom:15px;
}

.card{
  background:darkblue;
  padding:18px;
  border-radius:14px;
  margin:15px 0;
  box-shadow:0 6px 16px rgba(0,0,0,0.3);
}

h2{
  margin-bottom:12px;
  font-size:20px;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
}

label{
  display:block;
  margin-bottom:6px;
  opacity:0.85;
}

input{
  width:100%;
  padding:10px;
  border-radius:10px;
  border:none;
  outline:none;
  font-size:15px;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:12px;
}

th, td{
  border-bottom:1px solid rgba(255,255,255,0.12);
  padding:10px;
  text-align:center;
  font-size:14px;
}

th{
  background:#334155;
}

.btn{
  width:100%;
  margin-top:14px;
  padding:12px;
  background:lightgreen;
  border:none;
  border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;
}

.btn:hover{
  opacity:0.9;
}

.secondary{
  background:red;
}

.summary{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:12px;
  margin:12px 0;
}

.box{
  background:black;
  padding:12px;
  border-radius:12px;
}

.box h3{
  font-size:14px;
  opacity:0.9;
}

.box p{
  font-size:18px;
  margin-top:6px;
  font-weight:bold;
}

footer{
  text-align:center;
  margin-top:15px;
  opacity:0.75;
  font-size:13px;
}

@media(max-width:650px){
  .grid{
    grid-template-columns:1fr;
  }
  .summary{
    grid-template-columns:1fr;
  }
}
